/* For medium size viewports */
@media screen and (min-width: 501px) and (max-width: 800px) {
    
    .herodiv img {
        width: 100%;
        height: 100%;
        margin: 5px;
    }

    #forecasttable {
        display: flex;
        margin: 5px 5px 10px ;
    }

    #forecasttable article {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: 2px solid #063a5e;
        margin: 5px;
        background-image: radial-gradient( white, white, #84B9DF);
        box-shadow: 0 0 5px #ffd350;
    }

    #forecasttable article p { margin: 5px; }
    
    #story1 picture {
        float: none;
        width: 25%;
        height: 25%;
        margin: 5px 0 20px 5px;
    }

    .imagegallery {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px 20px;
    }

    .contact { flex-direction: row; }

    .contact iframe {  width: 45%; }

}