@import 'normalize.css';

header, main, footer {
    margin: 1.25rem auto;
    /* padding: .5rem; */
    max-width: 800px;
}

h1, .title {
    padding: 1.2em auto 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}

ul, li, span, p, .textbody {
    font-family: 'Open Sans', sans-serif;
}

footer p, footer span {
    font-family: 'Roboto Slab', serif;
    font-size: 0.85rem;
}