body {}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: lightgrey;
  background-color: #003153;
  text-align: center;
}

.image img {
  max-width: 67%;
  max-height: 67%;
  
}

.image {
  max-width:67%;
}

.hidden {
  display: none;
}

.hikeStyles li > h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #003153;
  background-color: lightgrey;
}

.hikeStyles li {
    font-family: Cambria, Georgia, Garamond, 'Times New Roman', Times, serif;
}

/* .container {
  display: flex;
}

.container div {
    align-self: flex-start;
} */
