/* CSS file for lesson 5, small pages */

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: "Roboto", sans-serif;
    color: black;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
}

p { padding: 5px; }

header {
    display: flex;
    flex-flow: row wrap;
    margin: 5px 5px 0 5px;
    background-color: #84B9DF;
    text-align: center;
    color: #063a5e;
}

header img, #headings {
	display: inline-block;
	vertical-align: middle;
	margin: 5px 0 0 0;
}

header h1 { font-style: italic; }

.motto {
    display: block;
    margin: 0;
    padding: 0;
}

nav {
    margin: 0 5px 0 5px;
    background-color: #84B9DF;
}

.navbar { 
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em; 
    border-top: 1px;
    list-style-type: none;
}

.navbar li {
    font-size: 1.3em;
    display: block;
}

.navbar li:first-child { display: block; }

.responsive li { display: none; }

.navbar li a {
    display: block;
    color: #063a5e;
    text-align: center;
    text-decoration: none;
    padding: 8px 16px;
}

.navbar a.active {
    background-color: #063a5e;
    color: #84B9DF;
}

.navbar li a:hover {
    background-color: #ffd350;
    color: #090700;
}

main, footer { margin: 0 auto 0 auto; }

.herodiv {
    margin: 10px auto;
    position: relative;
}

.herodiv img {
    width: 100%;
    height: auto;
}

.weather {
    position: absolute;
    top: 25px;
    left: 50px;
    background-color: #ffd350dd;
    border: 1px solid #090700;
    padding:1em;
    box-shadow: 0 0 20px #935300;
}

.weather h3, .weather p {
    display: block;
    color: #090700;
    margin: 5px;
}

.byline { 
    padding: 5px;
    font-style: italic; 
}

.contact {
    clear: both;
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    background-color: #ffd350;
    color: #090700;
    /* margin: 0 20px 0 20px; */
    padding: 20px;
}

.contact p, .contact h2 { 
    padding: 5px;
    margin: .75em; 
}

.address {
    display: flex;
    flex-direction: column;
}


.socialicon {
    height: 50px;
    width: auto;
    padding: 20px;
}

.contact iframe { 
    /* float: left; */
    width: 75%;
    height: auto;
    border: 0px;
}

footer {
    background-color: #84B9DF;
    color: #063a5e;
    text-align: center;
}

footer a:link {color: #090700;}

footer a:visited {color: #503b00;}

footer a:hover {
    color: #daa200;
    background-color: #090700;
}

/* ----- Image Galery Styles ----- */
.imagegallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-auto-rows: auto;
}

.imagegallery figure { 
    margin: 0; 
    text-align: center;
    
}

.imagegallery img {
    width: 100%;
    height: auto;
}

/* ----- Storm Center Form styles ----- */
fieldset {
    border: none;
}

legend {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: Larger;
    padding: 5px; 
}

form label.top {
    display: block;
    font-size: 1rem;
    padding: .5rem 0 .25rem 0;
}

form label.top input, form label.top select {
    display: block;
    font-size: 1.1rem;
    border: solid 1px #aaa;
    border-radius: 4px;
    padding: .75rem;
    color: #000;
    width: 100%;
    max-width: 20rem;
}

form label.top input:focus, form label.top select:focus {
    background-color: #ccc;
    border-color: lightblue;
    color: #063a5e;
}

form label.top input.slide {
    max-width: 10rem;
    padding: .5rem 0 0 0;
}

textarea { border-radius: 4px; }

textarea:focus {
    background-color: #ccc;
    border-color: lightblue;
    color: #063a5e;
}

form input.button {
    background-color: #090700;
    border-color: #ffd350;
    border-radius: 8px;
    color: #ffd350;
    border: none;
    width: 200px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}

form input.button:hover, form input.button:active {
    color: #090700;
    background-color: #ffd350;
}

@media screen and (max-width: 500px) {

    .forecast {
        display: none;
    }

    .herodiv img {
        /* width: 90%; */
        /* height: 90%; */
        margin: 20px 0 20px 0;
    }

    #story1>img {
        float: none;
        width: 90%; 
        height: 90%; 
        margin: 20px 0 20px 0;
    }


}