body {
    font-family: 'Ubuntu', sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px solid darkgrey;
    font-size: 1.2em;
    box-shadow: 10px 10px 15px -1px #628ca6;
}

thead{   
  font-size: x-large;
}

thead th{
    color: black;
    background-color:#7fb9c2;

}

tbody { background-color: #e7ffed; }

td { text-align: center; }

td, th { 
    padding: 10px;
    border: 2px solid silver;
}

tr:nth-child(even) { background-color: #e7f0ed; }

tr:first-child {
    background-color: #628ca6;
    color: white;
}

.metgoal {
    background-color: #628ca6;
    color: white;
}

tfoot td { 
    background-color:#7fb9c2;
    font-size: .70em; 
    color: black;
}