/* Global styles */
h1,h2,h3,h4,h5,h6 {
  font-family: 'Playfair Display', serif;
  /*font-family: "Archivo Narrow", sans-serif;*/
  font-weight: bold;
}

h2 { font-size: 30px; }

h3 { font-size: 25px; }

h4 { font-size: 20px; }

h5 {
  font-size: 16px;
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
}

body {
  font-family: 'Archivo', sans-serif;    
  font-size: 16px;
  background: #f9f3ed; 
  color: #0c1823;
}

p, ul, li { 
  line-height: 1.5em;
}

/* Class Selector Styles */
.titlebar {
  display: grid;
  background-color: #0c1823;
  color: #96b9dc;
  margin: 0 5px 0 5px;
  grid-gap: 5px;
  grid-template-columns: 150px 130px;
  grid-template-rows: auto auto;
}

.titlebar img { 
  width: 150px;
  height: auto;
}

.a {
  grid-row: 1;
  grid-column: 1;
} 

.b {
  grid-row: 1;
  grid-column: 2;
}

.c {
  grid-row: 2;
  grid-column: 2;
}

.navbar {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0 5px;
  background-color: #96b9dc;
  color: #0c1823;
}

.navbar li {
  display: inline-block;
}

.navbar li:first-child { display: block; }

.responsive li { display: none; }

.navbar li a {
  display: block;
  text-decoration: none;
  padding: 8px 16px;
  margin: 0 5px;
  color: #0c1823;
}

.navbar a.active {
  background-color: #0c1823;
  color: #96b9dc;
}

.navbar li a:hover {
    background-color: #0c1823;
    color: #96b9dc;
}

.gridcontainer {
  margin: 5px;
}

.gridcontainer img {
  width: 95%;
  height: auto;
}

.templearticle {
  max-width: 400px;
}

.weather img {
  width: 75px;
}

.forecasttable {
  display: flex;
  flex-flow: row wrap;
}

.forecasttable article {
  border-right: 1px solid #0c1823;
  padding: 0 5px 0 5px;
  margin-left: 5px;
}

.forecasttable article:last-of-type { border-right: none; }

.forecasttable article h5 {
  margin: 0 5px 0 5px;
}

.forecasttable article img {
  width: 55px;
  height: auto;
}


/* ID Selector Styles */
#pagetitle {
  font-size: 36px;
}

#booknowdiv {
  /* position: asolute;
  top: 20px;
  left: 20px; */
  margin: 10px;
}

#calltoaction {
  display: inline-block;
  background-color: #ff8000;
  border-radius: 5px;
  color: #edf3f9;
  border: none;
  padding: 20px 20px;
  text-decoration: none;
  text-align: center;
  font-weight: 800;  
}


