/* CSS file for lesson 5, small pages */

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: "Roboto", sans-serif;
    color: black;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
}

header {
    margin: 0;
    background-color: #84B9DF;
    text-align: center;
    color: #063a5e;
}

header img, #headings {
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
}

header img {
    width: 100px;
    height: auto; 
    float: left;
    /* background-color: #4c98d37a; */
}

.motto {
    display: block;
    margin: 0;
    padding: 0;
}

main, footer { margin: 0 auto 0 auto; }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #063a5e;
    background-color: #84B9DF;
}

nav li {
    font-size: 1.3em;
    border-bottom: 1px solid #063a5e;
}

nav li:last-child {
    border-bottom: none;
}
  
nav li a {
    display: block;
    color: #063a5e;
    text-align: center;
    text-decoration: none;
    padding: 8px 16px;
}

nav a.active {
    background-color: #063a5e;
    color: #84B9DF;
}

nav li a:hover {
    background-color: #b78900;
    color: #ffd350;
}

footer {
    background-color: #ffd350;
    color: #b78900;
    text-align: center;
}

footer a:link {color: #090700;}

footer a:visited {color: #503b00;}

footer a:hover {
    color: #daa200;
    background-color: #090700;
}

@media screen and (max-width: 501px) {

    article#idaholakes>img {
        float: right;
        width: 50%;
        height: 50%;
    }
    
}