
body {  
    /* max-width: 800px; */
    margin: 1.25rem auto;
    background-image: url("../images/bam-lighter-blurr-border-230w.jpg");
    font-size: 1.35rem;
}

header {
    display: flex;
    flex-direction: column;
    align-content: center;
}

header h1 { 
    font-weight: bold;  
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

header p {
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
}

section article {
    margin: 1.25rem;
}

section h2 {
    font-family: 'Montserrat', sans-serif;
    /* font-style: italic;  */
}

p, ul { 
    font-family: 'Kalam', cursive; 
    font-weight: bold;
    margin: 10px 0;
}