/* CIT 230 - Assignment Portal CSS */

* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem ;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 640px;
}

header, footer, footer a {
    text-align: center;
    background-color: #003153;
    color: whitesmoke;
}

header img {
    width: auto;
    height: 175px;
    float: right;
    margin-left: 0px;
}

main h2 {
    text-align: left;
}

main ul li {
    padding: 5px;
}

footer {
    font-size: .75rem;
}