/* CIT 230 - Assignment Portal CSS */

* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
/*    font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    color: black;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem ;
    color: #0072ac;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 640px;
}

header {
    background-color: #003153;
    /* color: whitesmoke; */
    text-align: left;
    color: #76a2b9;
}

header img {
    width: auto;
    height: 175px;
    float: right;
}

main h2 {
    text-align: left;
}

main ul li {
    padding: 5px;
}

main a:link {color: #003153;}

main a:visited {color: #503b00;}

main a:hover {
    color: #daa200;
    background-color: #090700;
}

footer {
    text-align: center;
    font-size: .75rem;
    background-color: #daa200;
    color: #090700
}

footer a:link {color: #090700;}

footer a:visited {color: #503b00;}

footer a:hover {
    color: #daa200;
    background-color: #090700;
}